@import "src/app/variables.scss";

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
  background-color: rgb(180, 180, 180);
  > a {
    color: #3f51b5;
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  div {
    display: flex;
    gap: 2vw;
  }
}
