@import "./variables.scss";
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/Storage-Room.jpg");
  background-size: cover;

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
