<p>home works!</p>

<table mat-table [dataSource]="items">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>
  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef> Storage Name </th>
    <td mat-cell *matCellDef="let item"> {{item.room}} </td>
  </ng-container>
  <ng-container matColumnDef="shelving">
    <th mat-header-cell *matHeaderCellDef> Shelving </th>
    <td mat-cell *matCellDef="let item"> {{item.shelving}} </td>
  </ng-container>
  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef> Section </th>
    <td mat-cell *matCellDef="let item"> {{item.section}} </td>
  </ng-container>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let item"> {{item.position}} </td>
  </ng-container>
  <ng-container matColumnDef="box">
    <th mat-header-cell *matHeaderCellDef> Box </th>
    <td mat-cell *matCellDef="let item"> {{item.box}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>


<!-- <div *ngFor="let item of items">
  <p>{{item.name}}</p><button (click)="delete(item.id)">X</button>
</div> -->
