@import "src/app/variables.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  section {
    width: 35%;
    display: flex;
    justify-content: flex-end;

    form {
      width: fit-content;
      display: flex;
      align-items: center;
      box-shadow: $inset-shadow;
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 0.5);
      input {
        width: 200px;
        padding: 7px 15px;
        border: none;
        transition: width 0.4s ease-in-out;
        background: none;
      }
      input:focus {
        width: 250px;
        outline: none;
        box-shadow: inset 2px 2px 3px gray;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 7px;
      }
      mat-icon {
        margin: 0 10px;
      }
    }
  }

  table {
    padding: 5px;
    border-radius: 7px;
    box-shadow: $box-shadow;
    width: fit-content;
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      padding: 0px 10px;
    }
  }
  section {
    width: 35%;
    display: flex;
    justify-content: flex-end;

    form {
      width: fit-content;
      display: flex;
      align-items: center;
      box-shadow: $inset-shadow;
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 0.5);
      input {
        width: 200px;
        padding: 7px 15px;
        border: none;
        transition: width 0.4s ease-in-out;
        background: none;
      }
      input:focus {
        width: 250px;
        outline: none;
        box-shadow: inset 2px 2px 3px gray;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 7px;
      }
      mat-icon {
        margin: 0 10px;
      }
    }
  }
}
