<body>
  <section>
    <form>
      <input
        type="search"
        (search)="reload()"
        placeholder="Search"
        class="search-input"
        [(ngModel)]="searchText"
        name="search"
        (keyup)="search()"
      />
      <mat-icon
        aria-hidden="false"
        aria-label="Search"
        fontIcon="search"
      ></mat-icon>
    </form>
  </section>
  <a mat-raised-button color="accent" href="/item/0"
    ><mat-icon aria-hidden="false">add</mat-icon>New Item
  </a>

  <table mat-table [dataSource]="items">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Storage Name</th>
      <td mat-cell *matCellDef="let item">{{ item.room }}</td>
    </ng-container>
    <ng-container matColumnDef="shelving">
      <th mat-header-cell *matHeaderCellDef>Shelving</th>
      <td mat-cell *matCellDef="let item">{{ item.shelving }}</td>
    </ng-container>
    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef>Section</th>
      <td mat-cell *matCellDef="let item">{{ item.section }}</td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let item">{{ item.position }}</td>
    </ng-container>
    <ng-container matColumnDef="box">
      <th mat-header-cell *matHeaderCellDef>Box</th>
      <td mat-cell *matCellDef="let item">{{ item.box }}</td>
    </ng-container>
    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell *matHeaderCellDef>actions</th>
      <td mat-cell *matCellDef="let item">
        <div class="actions">
          <button
            mat-mini-fab
            color="primary"
            (click)="edit(item.id)"
            matTooltip="Click here to edit {{ item.name }}"
            [matTooltipShowDelay]="500"
            [matTooltipHideDelay]="200"
            [matTooltipPosition]="'left'"
          >
            <mat-icon mat-icon-button>edit_square</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="warn"
            (click)="delete(item.id)"
            matTooltip="click here to delete {{ item.name }}"
            [matTooltipShowDelay]="500"
            [matTooltipHideDelay]="200"
            [matTooltipPosition]="'right'"
          >
            <mat-icon mat-icon-button>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <div class="cards">
    <mat-card *ngFor="let item of items">
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.room }}</mat-card-subtitle>
      <mat-card-content>
        <p class="card-content-line">
          <span>Furniture:</span><span>{{ item.shelving }}</span>
        </p>
        <p class="card-content-line">
          <span>Section:</span><span>{{ item.section }}</span>
        </p>
        <p class="card-content-line">
          <span>Position:</span><span>{{ item.position }}</span>
        </p>
        <p class="card-content-line">
          <span>Box:</span><span>{{ item.box }}</span>
        </p>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button
          mat-mini-fab
          color="primary"
          (click)="edit(item.id)"
          matTooltip="Click here to edit {{ item.name }}"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="200"
          [matTooltipPosition]="'left'"
        >
          <mat-icon mat-icon-button>edit_square</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          (click)="delete(item.id)"
          matTooltip="click here to delete {{ item.name }}"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="200"
          [matTooltipPosition]="'right'"
        >
          <mat-icon mat-icon-button>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
