<body>
  <header>
    <h2>New Item to store</h2>
  </header>
  <main>
    <form action="post">
      <aside>
        <mat-form-field floatLabel="auto" color="primary" appearance="fill">
          <mat-label>name of the item to store</mat-label>
          <input matInput required />
          <mat-hint align="end">Item has to have a name</mat-hint>
        </mat-form-field>
        <div class="box-icon">
          <mat-icon color="accent">archive</mat-icon>
        </div>
        <div class="actions">
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </aside>
      <section>
        <div>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Storage Room</mat-label>
            <input matInput type="text" required />
          </mat-form-field>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Select a Room</mat-label>
            <mat-select>
              <mat-option>New Room</mat-option>
              <mat-option *ngFor="let room of rooms">{{
                room.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Furniture</mat-label>
            <input matInput type="text" required />
          </mat-form-field>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Select a Furniture</mat-label>
            <mat-select>
              <mat-option>New Furniture</mat-option>
              <mat-option *ngFor="let shelf of shelvings">{{
                shelf.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>New Shelf</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Select a Shelf</mat-label>
            <mat-select>
              <mat-option>New Shelf</mat-option>
              <mat-option *ngFor="let shelf of sections">{{
                shelf.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Storage Position</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Select Position</mat-label>
            <mat-select>
              <mat-option>New Position</mat-option>
              <mat-option *ngFor="let pos of positions">{{
                pos.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Storage Box</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>Select Box</mat-label>
            <mat-select>
              <mat-option>New Box</mat-option>
              <mat-option *ngFor="let box of boxes">{{ box.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <!-- Refactoring
        <section>
        <div *ngFor="let field of fields">
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput required />
          </mat-form-field>
          <mat-form-field floatLabel="auto" color="primary" appearance="fill">
            <mat-label>{{ field.select }}</mat-label>
            <mat-select>
              <div *ngFor="let option of options">
                <mat-option *ngIf="option.rooms">
                  {{ option.room.name }}
                </mat-option>
                <mat-option *ngIf="option.rooms">
                  {{ option.room.name }}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
      </section> -->
    </form>
  </main>
</body>
